.wrapper {
  margin: 0 auto;
  width: 67%;
  min-height: 100vh;
}

.navbar {
  width: 100%;
  height: 10rem;
}

.nav {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.nav__item {
  display: inline-block;
  list-style-type: none;
  font-size: 3.5rem;
  font-weight: bold;
}

.todo-form {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr auto;
}

.input-field {
  position: relative;
}

.input-field > label {
  font-size: 1.1rem;
  height: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 0.5rem);
  padding-left: 0.5rem;
  padding-right: auto;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  color: rgba(255, 255, 255, 0.3);
  transition: 0.3s;
  cursor: text;
}

.input-field > label:focus-within {
  transform-origin: 0 0;
  transform: translateY(-1rem) scale(0.8);
  color: white;
  background-color: black;
}

#input--add {
  width: calc(100% - 1rem);
}

.input {
  height: 2rem;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0 0.5rem;
  font-size: 1.1rem;
  color: white;
  background-color: rgb(46, 46, 46);
  border: none;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.4);
  transition: 0.3s;
}

.input:focus {
  border-bottom: 3px solid white;
  outline: none;
  filter: brightness(0.7);
}

.input--todo {
  border-bottom: 1.5px solid rgb(33, 136, 56);
  color: rgb(33, 136, 56);
}

.input--todo:focus {
  border-bottom: 3px solid rgb(33, 136, 56);
  filter: brightness(0.7);
}

.button {
  height: 2rem;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 0.9rem;
  background-color: white;
  color: rgb(46, 46, 46);
  border-color: transparent;
  padding: 0.5rem;
  margin: 0;
  margin-left: 0.2rem;
  border: 1px solid white;
  border-radius: 0.3rem;
  display: inline-block;
  transition: 0.3s;
}

.button:hover {
  cursor: pointer;
  filter: brightness(0.7);
}

.button--todo {
  color: #ddd;
  background-color: inherit;
  border: 1px solid #ddd;
  transition: 0.3s;
}

.button--todo:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
}

.button--edit:hover {
  background-color: rgb(204, 153, 0);
  border: 1px solid rgb(204, 153, 0);
}

.button--save {
  background-color: rgb(33, 136, 56);
  border: 1px solid rgb(33, 136, 56);
}

.button--delete:hover {
  background-color: rgb(154, 27, 39);
  border: 1px solid rgb(154, 27, 39);
}

.todo-collection {
  padding-left: 0;
}

.todo-collection__item {
  list-style-type: none;
  margin: 0;
  padding: 1rem 0;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.6);
  font-size: 1.1rem;
  display: grid;
  grid-row-gap: 1rem;
  grid-template-columns: 1fr auto auto;
}

.todo-collection__item__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.5rem;
  overflow-x: auto;
}

.hidden {
  display: none;
}

.shake-horizontal {
  animation: shake 0.25s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1rem, 0) rotate(0deg);
  }
  50% {
    transform: translate(-1rem, 0) rotate(0deg);
  }
  100% {
    transform: translate(1rem, 0) rotate(0deg);
  }
}

@media only screen and (max-width: 1000px) {
  .wrapper {
    width: 75%;
  }
  .todo-collection__item__title {
    overflow-x: auto;
  }
}

@media only screen and (max-width: 500px) {
  .wrapper {
    width: 90%;
  }
}
